*/bin/*
*/gen/*
*local.properties*
*DS_Store*
/DerivedData/
/build/
SHCReversiGame/build
SHCReversiGame/DerivedData
ABDemo/build
ABDemo/DerivedData
/xcuserdata/

# OS X
.DS_Store

# Xcode
build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
profile
*.moved-aside
DerivedData
.idea/
*.hmap
*.xccheckout

# CocoaPods
Pods

# old skool
.svn

# osx noise
.DS_Store
profile